<template>
  <div id="app">
    <MessageShow msg="Welcome to the New Vue.js App"/>
  </div>
</template>

<script>
import MessageShow from './components/MessageShow.vue'

export default {
  name: 'app',
  components: {
    MessageShow 
  }
}
</script>

