<script src='/socket.io/socket.io.js'></script>
<script>
  const sock = io('http://localhost:4444');
  sock.on('news', (data) => {
    console.log(data);
    sock.emit('hi', { my: 'data and data'});
  });
</script>
