
<template>
  <div id='message-show'>
    <p>{{message}}
    </p>
    <input v-model='message'/>
  </div>
</template>
 
<script>
export default{ 
  name: 'MessageShow',
  el: '#message-show',
  props:{
    message: 'This is the First Message, Hello!',
  },
};
</script>
