<script src='/socket.io/socket.io.js'></script>
<pre id='statusBar'></pre>
<script>
const socketClient = io.connect('http://localhost:4444');
socketClient.on('news', (data) => {
  console.log(`Client:: ${data}`);
  document.querySelector('#statusBar').innerHTML += `Client:: ${JSON.stringify(data)}\n`;
  socketClient.emit('other event', { body: 'This Message from Client'} );
});
</script>

